body {
	font-size: 12pt;
}

zine-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */

}

zine-wrapper::-webkit-scrollbar {
  display: none;
}


zine-page, zine-spread-page {
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	position: relative;
	overflow: scroll;
}

zine-spread-page {
	overflow-x: scroll;
}


zine-page-content {
	width: 5.5in;
	height: 8.5in;
	background-color: green;
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
	transform: scale(70%) translate(-15%, -15%);
}

zine-page-content.spread {
	min-width: 11in;
	min-height: 8.5in;
	background-color: purple;
	display: flex;
}


@media print {
  
  @page {
    size: landscape;
    margin: 0;
    bleed: 0;
    
  }
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {

}
