zine-page-content {
  aspect-ratio: 5.5 / 8.5;
}

.spread zine-page-content {
  aspect-ratio: 11 / 8.5;
}


@media print {

  body {
    width: 11in;
    height: auto;
  }
  
  @page {
    width: 11in; 
    height: 8.5in;
    size: landscape;
    margin: 0cm;
  }

  zine-page {
    float: left;
    width: 5.5in;
    height: 8.5in;
    padding: 0;
    margin: 0;
  }

  zine-page.spread {
    width: 11in;
    height: 8.5in;
  }

  zine-page-content {
    width: 5.5in;
    height: 8.5in;
  }

  .spread zine-page-content {
    width: 11in !important;
    height: 8.5in;
    clear: both;
  }

}