zine-page-content {
  aspect-ratio: 7 / 8.5;

}

.spread zine-page-content {
  aspect-ratio: 14 / 8.5;
}

@media print {

  body {
    width: 14in;
    height: 25.5in;
  }
  
  @page {
    width: 14in; 
    height: 8.5in;
  }

}