zine-page-content {
  aspect-ratio: 8.5 / 11;

}

.spread zine-page-content {
  aspect-ratio: 17 / 11;
}

@media print {

  body {
    width: 14in;
    height: 25.5in;
  }
  
  @page {
    width: 14in; 
    height: 8.5in;
  }

}